.wraper
        {
            
        }
        .list
        {
            width: 200px;
            height: 200px;
            overflow: auto;
            position: absolute;
            border: 1px solid #617775;
            display: none;
            background: none repeat scroll 0 0 #F0F6E4;
            float: left;
            z-index: 1000000;
        }
        .list ul li
        {
            padding-left: 10px;
            padding-top: 2px;
            padding-bottom: 2px;
        }

ul
{
    list-style:none outside none;
    }