<h2 class="contentTitle">{{account_view[0]['account_username']}}</h2>
<div class="pageContent">
  <div class="pageFormContent" layoutH="97">
  	<div>
  		<dl class="nowrap">
		  <dt>工号：</dt>
		  <dd>
			{{account_view[0]['account_work']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>权限等级：</dt>
		  <dd>
			{{account_view[0]['account_name']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>职位：</dt>
		  <dd>
			{{account_view[0]['account_position']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>手机号：</dt>
		  <dd>
			{{account_view[0]['account_phone']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>email:</dt>
		  <dd>
			{{account_view[0]['account_email']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>所属部门：</dt>
		  <dd>
			{{account_view[0]['account_department']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>权限等级：</dt>
		  <dd>
			{{account_view[0]['account_power']}}
		  </dd>
		</dl>
	</div>
	
    <div class="divider"></div>
    
    <div class="tabs" currentIndex="0" eventType="click">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="/upload_files/?type=0" class="j-ajax"><span>初始参考附件</span></a></li>
					<li><a href="/upload_files/?type=1" class="j-ajax"><span>任务完成提交附件</span></a></li>
					<li><a href="/upload/?account_id={{account_view[0]['account_id']}}" target="dialog"><span>上传附件</span></a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" style="height:150px;">
			<div>
			</div>
			<div>
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div>
	
  </div>
  <div class="formBar">
    <ul>
      <li><div class="buttonActive"><div><a class="edit" href="/modify_account/?account_id={{account_view[0]['account_id']}}" target="navTab"><span>修改任务</span></a></div></div></li>
      <li><div class="button"><div><a class="delete" href="/delete_account/?account_id={{account_view[0]['account_id']}}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></div></div></li>
      <li><div class="buttonActive"><div><a class="edit" href="/account_audit/?account_id={{account_view[0]['account_id']}}" target="navTab"><span>审核</span></a></div></div></li>
      <li><div class="buttonActive"><div><a class="edit" href="/upload" target="navTab"><span>上传文件</span></a></div></div></li>
    </ul>
  </div>  

</div>
