<h2 class="contentTitle">{{account_view[0]['account_username']}}</h2>
<div class="pageContent">
  <div class="pageFormContent" layoutH="97">
  	<div>
  		<dl class="nowrap">
		  <dt>账号权限：</dt>
		  <dd>
			{{account_view[0]['account_name']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>性别：</dt>
		  <dd>
			{{account_view[0]['account_sex']}}
		  </dd>
		</dl>
  		<dl class="nowrap">
		  <dt>用户名（真实姓名）：</dt>
		  <dd>
			{{account_view[0]['account_username']}}
		  </dd>
		</dl>
  		<dl class="nowrap">
		  <dt>工号：</dt>
		  <dd>
			{{account_view[0]['account_work']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>职位：</dt>
		  <dd>
			{{account_view[0]['account_position']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>手机号：</dt>
		  <dd>
			{{account_view[0]['account_phone']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>住址：</dt>
		  <dd>
			{{account_view[0]['account_address']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>邮箱：</dt>
		  <dd>
			{{account_view[0]['account_email']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>所属部门：</dt>
		  <dd>
			{{account_view[0]['account_department']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>权限等级：</dt>
		  <dd>
			{{account_view[0]['account_power']}}
		  </dd>
		</dl>
	</div>
  </div>
</div>
