<div class="grid">
		<div class="gridHeader"><div class="gridThead"><table style="width:1067px;"><thead>
			<tr>
				<th style="width: 70px;"><div class="gridCol" title=""></div></th>
				<th style="width: 119px;"><div class="gridCol" title="客户号">客户号</div></th>
				<th style="width: 345px; cursor: default;" class=""><div class="gridCol" title="客户名称">客户名称</div></th>
				<th style="width: 88px;"><div class="gridCol" title="客户类型">客户类型</div></th>
				<th style="width: 134px;"><div class="gridCol" title="证件号码">证件号码</div></th>
				<th class="center" style="width: 70px;"><div class="gridCol" title="信用等级">信用等级</div></th>
				<th style="width: 70px;"><div class="gridCol" title="所属行业">所属行业</div></th>
				<th style="width: 70px;"><div class="gridCol" title="建档日期">建档日期</div></th>
			</tr>
		</thead></table></div></div>
		<div class="gridScroller" layouth="138" style="width: 1087px; height: 62px; overflow: auto;"><div class="gridTbody"><table style="width:1067px;"><tbody>
			<tr target="sid_user" rel="1" class="">
				<td style="width: 70px;"><div>天津农信社</div></td>
				<td style="width: 119px;"><div>A120113196309052434</div></td>
				<td style="width: 345px;"><div>天津市华建装饰工程有限公司</div></td>
				<td style="width: 88px;"><div>联社营业部</div></td>
				<td style="width: 134px;"><div>29385739203816293</div></td>
				<td class="center" style="width: 70px;"><div>5级</div></td>
				<td style="width: 70px;"><div>政府机构</div></td>
				<td style="width: 70px;"><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8" class="">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="1">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="2">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="3">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="4">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="5">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="6">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="7">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="8">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="9">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
			<tr target="sid_user" rel="10">
				<td><div>天津农信社</div></td>
				<td><div>A120113196309052434</div></td>
				<td><div>天津市华建装饰工程有限公司</div></td>
				<td><div>联社营业部</div></td>
				<td><div>29385739203816293</div></td>
				<td class="center"><div>5级</div></td>
				<td><div>政府机构</div></td>
				<td><div>2009-05-21</div></td>
			</tr>
		</tbody></table></div></div>
	<div class="resizeMarker" style="height:300px; left:57px;display:none;"></div><div class="resizeProxy" style="height:300px; left:377px;display:none;"></div></div>