$def with (user,mission_view,error)
<html lang="zh-cn">
   <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="首页">
    <meta name="author" content="jry">
    <title>修改任务</title>
    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <link href="/static/css/dashboard.css" rel="stylesheet">
    
    <script charset="utf-8" src="/static/kindeditor/kindeditor.js"></script>
	<script charset="utf-8" src="/static/kindeditor/lang/zh_CN.js"></script>
	
	<script charset="utf-8" src="/static/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script charset="utf-8" src="/static/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
	<link href="/static/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  	
  	<!-- 
<script>
  		function submit_new_mission(){
  			$$("#new_mission").ajaxSubmit({  
                    type: 'post',  
                    url: "/new_mission" ,  
                    success: function(status,data){  
                        alert(data.msg);
                        return false;
                    },  
                    error: function(XmlHttpRequest, textStatus, errorThrown){  
                        alert( "请求发送失败！");  
                        return false;
                    }
                }); 
            return false;
        }	
  	</script>
 -->
  </head>
  <body>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">通达OA</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">后台首页</a></li>
            <li><a href="#">设置</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">$user<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">姓名（职务）</li>
                <li><a href="/logout">注销登录</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/my_mission">任务列表</a></li>
            <li class="active"><a href="/new_mission">新建任务</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          $if error == "":
                $pass
            $else:
                <div class="alert alert-danger alert-dismissable">
                	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><strong>错误!</strong>
                $error	
                </div>
          <h2 class="sub-header">修改任务</h2>
          <form id="new_mission" action="/apply_modify_mission" method="POST"  class="form-horizontal">
          		<input type="text" name="mission_id" value="$mission_view[0]['mission_id']" style="display:none;">
          
          		<div class="input-group input-group-lg">
				  <span class="input-group-addon">任务名称</span>
				  <input type="text" class="form-control" placeholder="请输入任务名称200字符以内" name="mission_name" value="$mission_view[0]['mission_name']">
				</div><br>
				
				<script>
						KindEditor.ready(function(K) {
								window.editor = K.create('#mission-content');
						});
				</script>
				
				<div class="input-group input-group-lg">
				<span class="input-group-addon">任务详情</span>
				  <textarea id="mission-content" name="mission_content" placeholder="请输入任务详情10000字符以内" class="btn-lg btn-block" style="height:300px;" >
				  	$mission_view[0]['mission_content']
				  </textarea>
				</div><br>		
				
				<div class="input-group input-group-lg">
				  <span class="input-group-addon">任务开始时间</span>
				  <input type="text" class="datepicker form-control" placeholder="点击选择时间" name="mission_starttime" value="$mission_view[0]['mission_starttime']">
				  <span class="input-group-addon">任务结束时间</span>
				  <input type="text" class="datepicker form-control" placeholder="点击选择时间" name="mission_plan_end_time" value="$mission_view[0]['mission_plan_end_time']">
				</div><br>
				
				<div class="input-group input-group-lg">
					<span class="btn btn-warning btn-lg">任务是否按年重复发生</span>
					<div class="btn-group" data-toggle="buttons">
					  <label class="btn btn-primary btn-lg">
						<input type="radio" name="mission_duplicate" value="on"> 是
					  </label>
					  <label class="btn btn-primary btn-lg">
						<input type="radio" name="mission_duplicate" value="off"> 否
					  </label>
					</div>
				</div>
				
				<script>
					$$('.datepicker').datetimepicker({
						language:  'zh-CN',
						weekStart: 1,
						todayBtn:  1,
						autoclose: 1,
						todayHighlight: 1,
						startView: 2,
						minView:2,
						forceParse: 0,
						format: "yyyy-mm-dd",
						pickerPosition: "top-left"
					});
				</script>
				
				<h2 class="sub-header"></h2>
				<input type="submit" value="提交" class="btn btn-success btn-lg btn-block">
					
				<input type="reset" value="重置" class="btn btn-danger btn-lg btn-block">	
				
          </form>
        </div>
      </div>
    </div>
    
</body>
</html>
