<!-- 
<h2 class="contentTitle">任务动态</h2>

 -->
<div class="pageContent sortDrag" selector="h1" layoutH="42">

	<div class="panel" defH="150">
		<h1>新动态</h1>
		<div>
			<table class="list" width="98%">
				<thead>
					<tr>
						<th>任务名称</th>
						<th width="100">发布者</th>
						<th width="100">执行者</th>
						<th width="110">开始日期</th>
						<th width="110">预计结束日期</th>
						<th width="80">任务状态</th>
					</tr>
				</thead>
				<tbody>
				{% for m in mission_list %}
					<tr>
						<td><a href="/view_mission/?mission_id={{m['missino_name']}}" target="dialog"><div>任务名称</div></a></td>
						<td>{{m['mission_publisher']}}</td>
						<td>{{m['mission_doer']}}</td>
						<td>{{m['mission_starttime']}}</td>
						<td>{{m['mission_plan_end_time']}}</td>
						<td>{{m['mission_status']}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="panel close collapse" defH="150">
		<h1>执行中</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th>任务名称</th>
									<th width="100">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for z in zisssion_list %}
								<tr>
									<td><a href="/view_mission/?mission_id={{z['mission_id']}}" target="dialog"><div>任务名称</div></td>
									<td>{{z['mission_publisher']}}</td>
									<td>{{z['mission_doer']}}</td>
									<td>{{z['mission_starttime']}}</td>
									<td>{{z['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>

	<div class="panel close collapse" minH="100" defH="150">
		<h1>审核中</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th>任务名称</th>
									<th width="100">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for s in sission_list %}
								<tr>
									<td><a href="/view_mission/?mission_id={{s['mission_id']}}" target="dialog"><div>任务名称</div></td>
									<td>{{s['mission_publisher']}}</td>
									<td>{{s['mission_doer']}}</td>
									<td>{{s['mission_starttime']}}</td>
									<td>{{s['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>

	<div class="panel close collapse" minH="100" defH="150">
		<h1>已完成</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th>任务名称</th>
									<th width="100">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for y in yission_list %}
								<tr>
									<td><a href="/view_mission/?mission_id={{y['mission_id']}}" target="dialog"><div>任务名称</div></td>
									<td>{{y['mission_publisher']}}</td>
									<td>{{y['mission_doer']}}</td>
									<td>{{y['mission_starttime']}}</td>
									<td>{{y['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>



</div>
