<h2 class="contentTitle">{{account_view['account_username']}}</h2>
<div class="pageContent">
	<div class="pageFormContent" layoutH="97">
		<div>
			<dl class="nowrap">
				<dt>性别：</dt>
				<dt>{{account_view['account_sex']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>部门：</dt>
				<dt>{{account_view['account_department']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>职位：</dt>
				<dt>{{account_view['account_position']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>工号：</dt>
				<dt>{{account_view['account_work']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>电话：</dt>
				<dt>{{account_view['account_phone']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>地址：</dt>
				<dt>{{account_view['account_address']}}</dt>
			</dl>
			<dl class="nowrap">
				<dt>邮箱：</dt>
				<dt>{{account_view['account_email']}}</dt>
			</dl>
		</div>
	</div>
</div>