<!-- 
<h2 class="contentTitle">任务动态</h2>

 -->
<div class="pageContent sortDrag" selector="h1" layoutH="42">

	<div class="panel" defH="150">
		<h1>新动态</h1>
		<div>
			<table class="list" width="98%">
				<thead>
					<tr>
						<th width="200">任务名称</th>
       					<th width="120">发布者</th>
						<th width="100">执行者</th>
						<th width="110">开始日期</th>
						<th width="110">预计结束日期</th>
						<th width="80">任务状态</th>
					</tr>
				</thead>
				<tbody>
				{% for m in mission_list %}
					<tr>
						<td><a href="/view_mission/?mission_status=待接受&type={{role}}&mission_id={{m['mission_id']}}&mission_sta=j&mission_doer={{m['mission_doer']}}" target="dialog"><div>{{m['mission_name']}}</div></a></td>
						<td>{{m['mission_publisher']}}</td>
						<td>
						{% for m_doer in m.mission_doer %}
			            	{{m_doer}}
			            {% endfor %}
			            </td>
						<td>{{m['mission_starttime']}}</td>
						<td>{{m['mission_plan_end_time']}}</td>
						<td>{{m['mission_status']}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel close collapse" minH="100" defH="150">
		<h1>已提交</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th width="200">任务名称</th>
       								<th width="120">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for s in sission_list %}
								<tr>
									<td><a href="/view_mission/?mission_status=已提交&mission_id={{s['mission_id']}}&type={{role}}&mission_sta=m&mission_doer={{s['mission_doer']}}" target="dialog"><div>{{s['mission_name']}}</div></a></td>
									<td>{{s['mission_publisher']}}</td>
									<td>
									{% for m_doer in s.mission_doer %}
						            	{{m_doer}}
						            {% endfor %}
						            </td>
									<td>{{s['mission_starttime']}}</td>
									<td>{{s['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>
	<div class="panel close collapse" minH="100" defH="150">
		<h1>未通过</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th width="200">任务名称</th>
       								<th width="120">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for w in wission_list %}
								<tr>
									<td><a href="/view_mission/?mission_status=未通过&mission_id={{w['mission_id']}}&type={{role}}&mission_sta=j&mission_doer={{w['mission_doer']}}" target="dialog"><div>{{w['mission_name']}}</div></a></td>
									<td>{{w['mission_publisher']}}</td>
									<td>
									{% for m_doer in w.mission_doer %}
						            	{{m_doer}}
						            {% endfor %}
						            </td>
									<td>{{w['mission_starttime']}}</td>
									<td>{{w['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>

	<div class="panel close collapse" minH="100" defH="150">
		<h1>已完成</h1>
		<div>
			<table class="list" width="98%">
							<thead>
								<tr>
									<th width="200">任务名称</th>
       								<th width="120">发布者</th>
									<th width="100">执行者</th>
									<th width="110">开始日期</th>
									<th width="110">预计结束日期</th>
								</tr>
							</thead>
							<tbody>
							{% for y in yission_list %}
								<tr>
									<td><a href="/view_mission/?mission_status=已完成&mission_id={{y['mission_id']}}&type=mission_doer&mission_sta=m" target="dialog"><div>{{y['mission_name']}}</div></a></td>
									<td>{{y['mission_publisher']}}</td>
									<td>
									{% for m_doer in y.mission_doer %}
						            	{{m_doer}}
						            {% endfor %}
						            </td>
									<td>{{y['mission_starttime']}}</td>
									<td>{{y['mission_plan_end_time']}}</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
		</div>
	</div>



</div>
