<form id="pagerForm" method="post" action="demo_page1.html">
  <input type="hidden" name="status" value="${param.status}">
  <input type="hidden" name="keywords" value="${param.keywords}" />
  <input type="hidden" name="pageNum" value="1" />
  <input type="hidden" name="numPerPage" value="${model.numPerPage}" />
  <input type="hidden" name="orderField" value="${param.orderField}" />
</form>

<div class="pageContent">
  <table class="table" width="100%" layoutH="48">
    <thead>
      <tr class="center">
        <th width="200">任务名称</th>
        <th width="120">发布者</th>
        <th width="100">开始时间</th>
        <th width="100">计划完成时间</th>
        <th width="80" align="center">状态</th>
        <th width="100">操作</th>
      </tr>
    </thead>
    <!-- 添加了执行者，是否按年重复 -->
    <tbody>
      {% for m in mission_list %}
        <tr target="sid_user" class="center"> 
          <td>
            <a href="/view_mission/?mission_id={{m['mission_id']}}&type=mission_doer&mission_sta=t" target="navTab">
                 <div>{{m['mission_name']}}</div>
            </a>
          </td>
          <td>
             <div>{{m['mission_publisher']}}</div>
          </td>
          <td>
             <div>{{m['mission_starttime']}}</div>
          </td>
          <td>
             <div>{{m['mission_plan_end_time']}}</div>
          </td>
          <td>
             <div>{{m['mission_status']}}</div>
          </td>
          <td>
            <a href="/change_mission_sta/?mission_id={{m['mission_id']}}&mission_status='已提交'" target="navTab" style="color:rgb(0,0,225)">提交</a>
          </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <div class="panelBar">
    <div class="pages">
      <span>显示</span>
      <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
        <option value="200">200</option>
      </select>
      <span>条，共{{totalCount}}条</span>
    </div>
    
    <div class="pagination" targetType="navTab" totalCount="200" numPerPage="20" pageNumShown="10" currentPage="1"></div>

  </div>
</div>
