<h2 class="contentTitle">创建新任务</h2>
<form method="post" action="/new_mission" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">
<div class="pageContent">
  
  <div class="pageFormContent" layoutH="97">
    <dl>
      <dt>任务名称：</dt><dd><input name="mission_name" class="required" alt="请输入任务名称200字符以内" type="text" value="{{mission_name}}" style="width:600px;"></dd>
    </dl>
    <dl class="nowrap">
      <dt>任务详情：</dt>
      <dd>
        <textarea class="editor" name="mission_content" rows="20" cols="90">{{mission_content}}</textarea>
      </dd>
    </dl>
    <dl>
      <dt>任务开始时间：</dt>
      <dd>
        <input name="mission_starttime" class="date" readonly="readonly" value="{{mission_starttime}}" type="text">
        <a href="javascript:void(0)" class="inputDateButton">选择</a>
      </dd>
    </dl>
    <dl>
      <dt>任务结束时间：</dt>
      <dd>
        <input name="mission_plan_end_time" class="date" readonly="readonly" value="{{mission_plan_end_time}}" type="text">
        <a href="javascript:void(0)" class="inputDateButton">选择</a>
      </dd>
    </dl>
    <!-- <dl>
      <dt>是否按年重复发生：</dt><dd><input type="radio" name="mission_duplicate" value="on">是 <input type="radio" name="mission_duplicate" value="off">否</dd>
    </dl> -->
   <!--  <dl>
      <dt>执行人：</dt>
          <p>
            <input id="hfddlList" type="hidden" name="hfddlList" value="{k:1,v:&quot;大大南京&quot;}|{k:2,v:&quot;上海&quot;}|{k:3,v:&quot;扬州&quot;}|{k:4,v:&quot;苏州&quot;}|{k:5,v:&quot;无锡&quot;}|{k:6,v:&quot;常州&quot;}|{k:7,v:&quot;盐城&quot;}|{k:8,v:&quot;徐州&quot;}|{k:9,v:&quot;泰州&quot;}|{k:10,v:&quot;淮安&quot;}" />
          </p>
          <div class="testContainer">
            <div>
                <input id="txtTest" style="width: 150px; margin: 1px; padding: 0px;" type="text" name="txtTest" />
                <input id="hfTest" type="hidden" name="hfTest" value="0" />
            </div>
        </div>
        
    </dl> -->
    <!-- <dl>
      <dt>执行人：</dt>
      <dd>
        <select name="choose" id="choose">
          {% for a in account_list %}
          <option value="{{a['account_username']}}">{{a['account_username']}}</option>
          {% endfor %}
        </select>
      </dd>
    </dl> -->
    <dl id="mission_doerselect">
      <dt>执行人：</dt>
      <dd>
        <input type="text" name="doers" id="doers">
      </dd>
      <br>
        <div id="dddoer">
          <ul id="doerlist">
          {% for a in account_list %}
          <li style="width: 150px; height: 25px">
            <input type="checkbox" value="{{a['account_username']}}">{{a['account_username']}}
          </li>
          {% endfor %}
          </ul>
        </div>
      </dd>
    </dl>
  </div>
  
  <div class="formBar">
    <ul>
      <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
      <li><div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
    </ul>
  </div>

</div>
</form>
<link rel="stylesheet" href="/static/style.css">
<script src="/static/diy.js" type="text/javascript"></script>

    
