<h2 class="contentTitle">创建新任务</h2>
<form method="post" action="/new_mission" class="pageForm required-validate" onsubmit="return validateCallback(this,navTabAjaxDone)">
<div class="pageContent">
  
  <div class="pageFormContent" layoutH="97">
    <dl>
      <dt>任务名称：</dt><dd><input name="mission_name" class="required" alt="请输入任务名称200字符以内" type="text" value="{{mission_name}}" style="width:600px;"></dd>
    </dl>
    <dl class="nowrap">
      <dt>任务详情：</dt>
      <dd>
        <textarea class="editor" name="mission_content" rows="20" cols="90">{{mission_content}}</textarea>
      </dd>
    </dl>
    <dl>
      <dt>任务开始时间：</dt>
      <dd>
        <input name="mission_starttime" class="date" readonly="readonly" value="{{mission_starttime}}" type="text">
        <a href="javascript:void(0)" class="inputDateButton">选择</a>
      </dd>
    </dl>
    <dl>
      <dt>任务结束时间：</dt>
      <dd>
        <input name="mission_plan_end_time" class="date" readonly="readonly" value="{{mission_plan_end_time}}" type="text">
        <a href="javascript:void(0)" class="inputDateButton">选择</a>
      </dd>
    </dl>
    <dl>
      <dt>执行人1：</dt>
      <dd>
        <select name="mission_performer_1">
          <option value="自己账号">自己账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
        </select>
      </dd>
    </dl>
    <dt>添加执行人</dt>
    <dd>  
    </dd>
    <dl>
      <dt>执行人2：</dt>
      <dd>
        <select name="mission_performer_2" multiple="multiple">
          <option value="无">无</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
        </select>
      </dd>
    </dl>
    <dl>
      <dt>执行人3：</dt>
      <dd>
        <select name="mission_performer_3">
          <option value="无">无</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
        </select>
      </dd>
    </dl>
    <dl>
      <dt>执行人4：</dt>
      <dd>
        <select name="mission_performer_4">
          <option value="无">无</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
        </select>
      </dd>
    </dl>
    <dl>
      <dt>执行人5：</dt>
      <dd>
        <select name="mission_performer_5">
          <option value="无">无</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
          <option value="他人账号">他人账号</option>
        </select>
      </dd>
    </dl>
  </div>
  
  <div class="formBar">
    <ul>
      <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
      <li><div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div></li>
    </ul>
  </div>

</div>
</form>
