<h2 class="contentTitle">{{mission_view[0]['mission_name']}}</h2>
<div class="pageContent">
  <div class="pageFormContent" layoutH="97">
  	<div>
		<dl class="nowrap">
		  <dt>任务详情：</dt>
		  <dd>
			{{mission_view[0]['mission_content']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>任务创建者：</dt>
		  <dd>
			{{mission_view[0]['mission_publisher']}}
		  </dd>
		</dl>
		<!-- <a href="/doer_info?doer={{doer}}" target="dialog" s>{{doer}}</a> -->
		<dl class="nowrap">
				<dt>任务执行者：</dt>
				<dd>
					<tbody>
						<tr>
							<a href="/doer_info?doer={{mission_view[0]['mission_doer']}}" target="dialog" s>{{mission_view[0]['mission_doer']}}</a>
						</tr>
					</tbody>
				</dd>
			</dl>
		<dl class="nowrap">
		  <dt>任务开始时间：</dt>
		  <dd>
			{{mission_view[0]['mission_starttime']}}
		  </dd>
		</dl>
		<dl class="nowrap">
		  <dt>任务计划完成时间：</dt>
		  <dd>
			{{mission_view[0]['mission_plan_end_time']}}
		  </dd>
		</dl>
		{% if 'mission_endtime' in mission_view[0] %}
			<dl class="nowrap">
			  <dt>任务实际完成时间：</dt>
			  <dd>
				{{mission_view[0]['mission_actuall_end_time']}}
			  </dd>
			</dl>
		{% endif %}

		<dl class="nowrap">
		  <dt>任务状态：</dt>
		  <dd>
			{{mission_view[0]['mission_status']}}
		  </dd>
		</dl>
	</div>
	
    <div class="divider"></div>
    
    <div class="tabs" currentIndex="0" eventType="click">
		<div class="tabsHeader">
			<div class="tabsHeaderContent">
				<ul>
					<li><a href="/upload_files/?type=0&role={{mission_view[0]['mission_publisher']}}&mission_id={{mission_view[0]['mission_id']}}" class="j-ajax"><span>初始参考附件</span></a></li>
					<li><a href="/upload_files/?type=2&mission_id={{mission_view[0]['mission_id']}}&role={{mission_view[0]['mission_doer']}}" class="j-ajax"><span>任务完成提交附件</span></a></li>
				</ul>
			</div>
		</div>
		<div class="tabsContent" style="height:150px;">
			<div>
			</div>
			<div>
			</div>
		</div>
		<div class="tabsFooter">
			<div class="tabsFooterContent"></div>
		</div>
	</div>
	
  </div>
  <div class="formBar">
  </div>  

</div>
