<div class="clear"></div>
<table class="list" width="100%">
	<thead>
		<tr>
			<th width="80">序号</th>
			<th>文件名</th>
			<th>上传时间</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		{% set i = 1 %}
		{% for i in range(file_list|length) %}
		<tr>
				<td>
					     {{i+1}}
				  </td>	
				  <td>
					
						 {{file_list[i]['file_name']}}
				  </td>
				  <td>
					     {{file_list[i]['file_upload_time']}}
				  </td>
				  <td>
				  	<a href="/download_file/?file_url={{file_list[i]['file_url']}}&file_name={{file_list[i]['file_name']}}">
						 下载
					</a>
				  </td>		  
		</tr>
		{% endfor %}
	</tbody>
</table>