<form method="POST" enctype="multipart/form-data" action="/upload/" class="pageForm required-validate" onsubmit="return iframeCallback(this);">

	<div class="pageFormContent" layoutH="97">
		<input type="text" name="mission_id"  style="display:none;"><br/>
		<!-- <dl>
			<dt>附件类型：</dt>
			<dd>
				<select name="file_type">
				<option value="-1">---请选择---</option>
				<option value="0">初始参考附件</option>
				<option value="1">任务参考附件</option>
				</select>
			</dd>
		</dl> -->

		<dl>
			<dt>选择文件：</dt>
			<dd>
				<input type="file" name="myfile" />
			</dd>
		</dl>
		<dl>
			<dt>
				<div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>	
				<div class="button"><div class="buttonContent"><button type="reset">重置</button></div></div>
			</dt>
			<dd></dd>
		</dl> 

</form>