<div class="pageContent">
	<form method="post" action="/user_setting" class="pageForm required-validate" onsubmit="return iframeCallback(this);">
		<div class="pageFormContent" layoutH="56">
			<p>
				<label>用户性别</label>
					<input type="radio" value="男" name="account_sex" checked="checked">男
					<input type="radio" value="女" name="account_sex">女
			</p>
			<p>
				<label>用户名（真实姓名）</label>
				<input type="text" size="30" name="username" class="textInput valid" value="{{user_info['account_username']}}">
			</p>
			<p>
				<label>手机号</label>
				<input type="text" size="30" name="phone" class="textInput valid" value="{{user_info['account_phone']}}">
			</p>
			<p>
				<label>住址</label>
				<input type="text" size="30" name="account_address" class="textInput valid" value="{{user_info['account_address']}}">
			</p>
			<p>
				<label>邮箱</label>
				<input type="text" size="30" name="email" class="textInput valid" value="{{user_info['account_email']}}">
			</p>
			<p>
				<label>密码</label>
				<input type="button" href="pwd_setting.html" value="修改密码">
			</p>
			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>淇濆瓨</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
