<h2 class="contentTitle">{{mission_view[0]['mission_status']}}</h2>
<div class="pageContent">
	<div class="pageFormContent" layoutH="97">
		<div>
			<dl class="nowrap">
				<dt>任务详情：</dt>
				<dd>{{mission_view[0]['mission_content']}}</dd>
			</dl>
			<dl class="nowrap">
				<dt>任务创建者：</dt>
				<dd>{{mission_view[0]['mission_publisher']}}</dd>
			</dl>
			<dl class="nowrap">
				<dt>任务执行者：</dt>
				<dd>
					<tbody>
						<tr>
							{% for doer in mission_view[0]['mission_doer']%}
							<a href="#">{{doer}}</a>
							{%endfor%}
						</tr>
					</tbody>
				</dd>
			</dl>
			<dl class="nowrap">
				<dt>任务开始时间：</dt>
				<dd>{{mission_view[0]['mission_starttime']}}</dd>
			</dl>
			<dl class="nowrap">
				<dt>任务实际完成时间：</dt>
				<dd>{{mission_view[0]['mission_plan_end_time']}}</dd>
			</dl>
		</div>

		<div class="divider"></div>

		<div class="tabs" currentIndex="0" eventType="click">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li>
							<a href="/upload_files/?type=0&mission_id={{mission_view[0]['mission_id']}}&role={{mission_view[0]['mission_publisher']}}" class="j-ajax">
								<span>初始参考附件</span>
							</a>
						</li>
						<li>
							<a href="/upload_files/?type=1&mission_id={{mission_view[0]['mission_id']}}&role={{mission_view[0]['mission_doer']}}" class="j-ajax">
								<span>任务完成提交附件</span>
							</a>
						</li>
						<li>
							<a href="/upload/?mission_id={{mission_view[0]['mission_id']}}" target="dialog">
								<span>上传附件</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="tabsContent" style="height:150px;">
				<div></div>
				<div></div>
			</div>
			<!-- 留言模块 -->
			<div class="panel collapse">
				<div class="panelHeader">
					<div class="panelHeaderContent">
						<h1 style="cursor: move">留言</h1>
					</div>
				</div>
				<div class="panelContent">
				<form action="/leave_message" method="post" onsubmit="return iframeCallback(this);">
					<textarea name="msg" id="msg" cols="100" rows="2" placeholder="说点什么吧。。。"></textarea>
					<input type="text" name="mission_id" value="{{mission_view[0]['mission_id']}}" style="display: none">
					<input type="text" name="message_type" value="1" style="display: none">
					
					<input type="submit" id="message" value="发送" style="margin-top: 15px; margin-left: 15px">	
				</form>
			{% for msg in message_list %}
				<dl class="nowrap">
					<dt>
						{{msg['message_time']}}:
					</dt>
					<dt>
						{{msg['message_leaver']}}:
					</dt>
					<dd>
						{{msg['message_content']}}
					</dd>
				</dl>
			{% endfor %}
			</div>
		 </div>
		</div>

	</div>
	<div class="formBar">
		<ul>
			<!-- <li>
			<div class="buttonActive">
				<div>
					<a class="edit" href="/modify_mission/?type=mission_publisher&mission_id={{mission_view[0]['mission_id']}}" target="navTab">
						<span>修改任务</span>
					</a>
				</div>
			</div>
		</li>
		-->
		<li>
			<div class="button">
				<div>
					<a class="delete" href="/delete_mission/?mission_id={{mission_view[0]['mission_id']}}&mission_status={{mission_view[0]['mission_status']}}&type=mission_publisher" target="ajaxTodo" title="确定要删除吗?">
						<span>删除</span>
					</a>
				</div>
			</div>
		</li>
		<!-- <li>
		<div class="buttonActive">
			<div>
				<a class="edit" href="/change_mission_sta/?mission_id={{mission_view[0]['mission_id']}}&mission_status='已完成'" target="navTab">
					<span>审核通过</span>
				</a>
			</div>
		</div>
	</li>
	<li>
		<div class="buttonActive">
			<div>
				<a class="edit" href="/change_mission_sta/?mission_id={{mission_view[0]['mission_id']}}&mission_status='未通过'" target="navTab">
					<span>不通过</span>
				</a>
			</div>
		</div>
	</li>
	-->
</ul>
</div>

</div>